body {
  background: #ddd;
}

app-option {
  font-family: Helvetica;
  background: white;
  color: black;
  display: block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

app-option:hover {
  background: #ccc;
}

app-option[disabled] {
  color: #666;
  cursor: not-allowed;
}

app-option[disabled]:hover {
  background: white;

}

app-option[selected]{
  background: #07103a;
  color: white;
}

app-select .options {
  width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .5);
  border-radius: 10px;
  overflow: hidden;
}